/*CSS DOCUMENT*/


img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1em inset;
    border-color: rgb(163, 15, 15)
    
}

body{
    background-color: rgb(255, 222, 176);
}
    
header h1{
    font-family:cursive;
    color: rgb(163, 15, 15);
    text-align: center;
    border-bottom: double;
    margin: 0em 5em;
    padding-bottom: .4em  
}

header h2{
    text-align: center;
    font-family:cursive;
}

div.maincontent h3{
    color: rgb(163, 15, 15);
    text-align: center;
    font-family: sans-serif;    
}

ul{
    font-family: sans-serif;
        
}

li{
    margin-bottom: 1em
}

ol{
    font-family: sans-serif;
}

div.intro p{
    font-family: sans-serif;
    margin: 1em;
    text-align: center
}

div.introimage{
  
}